package partials

templ TableHeader(name string) {
	<th
		class="border-b dark:border-slate-600 font-medium p-4 pl-4 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left"
	>
		{ name }
	</th>
}

templ TableRow(content, link string) {
	<td
		class="border-b border-slate-100 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400"
	>
		if link != "" {
			<a href={ templ.SafeURL(link) }>{ content } </a>
		} else {
			{ content }
		}
	</td>
}
