package components

import "github.com/ivandrenjanin/go-chat-app/views/partials"

templ Form(fields []partials.FormField, postRoute string) {
	<form hx-post={ postRoute } hx-target="body" class="flex flex-col w-96 space-y-8">
		for _, field := range fields {
			@partials.InputField(field)
		}
		<div>
			@partials.Button("Submit")
		</div>
	</form>
}
