package components

templ Nav(name string) {
	<nav
		class="container mx-auto flex flex-row justify-between h-20"
	>
		<div
			class="h-full flex items-center"
		>
			<h2 class="text-4xl">ToDo App</h2>
		</div>
		<div
			class="h-full flex items-center"
		>
			<div class="rounded-full bg-slate-500 w-16 h-16 flex items-center justify-center">
				<h2 class="text-lg">{ name }</h2>
			</div>
		</div>
	</nav>
}
