package components

import "github.com/ivandrenjanin/go-chat-app/views/partials"

templ ProjectTableActions(url, id string) {
	<td>
		<!-- TODO: Add actual SVG icons-->
		<button
			hx-get={ "/api/components/assign-user-project/" + id }
			hx-target="#modal-component-root"
		>📨</button>
		<button
			hx-get={ "/api/components/edit-project/" + id }
			hx-target="#modal-component-root"
		>✏️</button>
		<button
			hx-delete={ url }
		>🔴</button>
	</td>
}

templ ProjectTable(headers []string, rows [][]string) {
	<thead>
		<tr>
			for _, header := range headers {
				@partials.TableHeader(header)
			}
		</tr>
	</thead>
	<tbody
		hx-target="closest tr"
	>
		for _, row := range rows {
			<tr>
				for _, v := range row[2:] {
					@partials.TableRow(v)
				}
				@ProjectTableActions(row[0], row[1])
			</tr>
		}
	</tbody>
}
