package components

import "github.com/ivandrenjanin/go-chat-app/views/partials"

templ ProjectTableActions(url, pubId string) {
	<td>
		<!-- TODO: Add actual SVG icons-->
		<button @click="$store.assignUserModal.toggle()">📨</button>
		<button x-data={ pubId } @click="$store.editProjectModal.toggle(id)">✏️</button>
		<button hx-delete={ url }>🔴</button>
	</td>
}

templ ProjectTable(headers []string, rows [][]string) {
	<thead>
		<tr>
			for _, header := range headers {
				@partials.TableHeader(header)
			}
		</tr>
	</thead>
	<tbody hx-target="closest tr">
		for _, row := range rows {
			<tr>
				for _, v := range row[2:] {
					@partials.TableRow(v)
				}
				@ProjectTableActions(row[0], row[1])
			</tr>
		}
	</tbody>
}
