package components

import "github.com/ivandrenjanin/go-chat-app/components/layout"

templ Dib(name string) {
	<div>Hello { name }</div>
}

templ Hello(name string) {
	@layout.Layout(Dib(name), "Home Page")
}
