package pages

import "github.com/ivandrenjanin/go-chat-app/views/layout"
import "github.com/ivandrenjanin/go-chat-app/views/components"

templ IndexProtected(u string) {
	@layout.Layout("Home Page") {
		@components.Nav(u)
		<div class="container mx-auto">
			<div>
				<table
					id="project-table"
					class="table-auto border-collapse"
					hx-get="/api/projects"
					hx-trigger="load"
					hx-target="#project-table"
					hx-swap="innerHTML"
				></table>
			</div>
		</div>
	}
}
