package pages

import "github.com/ivandrenjanin/go-chat-app/components/layout"

templ bib(name string) {
	<div>Hello { name }</div>
}

templ Hello(name string) {
	@layout.Layout(bib(name), "Home Page")
}
